[submodule "gaia/extern/glfw"]
	path = gaia/extern/glfw
	url = https://github.com/gabrielmaneru/glfw-premake
[submodule "gaia/extern/spdlog"]
	path = gaia/extern/spdlog
	url = https://github.com/gabrielmaneru/spdlog-premake
[submodule "gaia/extern/glad"]
	path = gaia/extern/glad
	url = https://github.com/gabrielmaneru/glad-premake
[submodule "gaia/extern/glm"]
	path = gaia/extern/glm
	url = https://github.com/gabrielmaneru/glm-premake
